<ion-view>
    <ion-content>
       
        <div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha Atual</span>
                <input type="password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nova Senha</span>
                <input type="password">
             </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirmar Senha</span>
                <input type="password">
             </label>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
         <div id="divBtns" class="row has-footer">
              <div id="btnConfirma" class="row col-50">
                <button class="button button-block button-balanced icon icon-left ion-checkmark-circled" ng-click="addService()">Confirmar</button>
            </div>
            <br>
            <div id="btnConfirma" class="row col-50">
                <button class="button button-block button-assertive icon icon-left ion-android-cancel">Cancelar</button>
            </div>
        </div>
    </ion-content>
</ion-view>